<%- include('../partials/header.ejs') %>
<div class="container mx-auto px-4">
    <div class="mt-16">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h4 class="text-xl font-semibold mb-4">Kontrol Paneli</h4>
            <div class="title mb-6">
                <% if(userS && userS.firstName){ %>
                    <p class="text-gray-700">Merhaba, <%= userS.firstName %> Kontrol paneline hoş geldiniz.</p>
                <% } else { %>
                    <p class="text-gray-700">Merhaba, Anonim Kontrol paneline hoş geldiniz.</p>
                <% } %>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <a href="/admin/urunolustur" class="block">
                    <button class="w-full mb-2 bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 transition duration-200">Ürün Oluştur</button>
                </a>
                <a href="/admin/urunyonetim" class="block">
                    <button class="w-full mb-2 bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 transition duration-200">Ürün Paneli</button>
                </a>
                <a href="/admin/kuponlar" class="block">
                    <button class="w-full mb-2 bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 transition duration-200">Kupon Paneli</button>
                </a>
                <a href="/admin/kullaniciyonetim" class="block">
                    <button class="w-full mb-2 bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 transition duration-200">Kullanıcı Yetkileri</button>
                </a>
                <a href="/admin/kategoriyonetim" class="block">
                    <button class="w-full mb-2 bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 transition duration-200">Kategori Seçenekleri</button>
                </a>
                <a href="/admin/duyuruolustur" class="block">
                    <button class="w-full mb-2 bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 transition duration-200">Duyuru Oluştur</button>
                </a>
                <a href="/admin/logizleme" class="block">
                    <button class="w-full mb-2 bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 transition duration-200">Log Geçmişi</button>
                </a>
                <a href="/admin/urunaciklamatip" class="block">
                    <button class="w-full mb-2 bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 transition duration-200">Ürün Açıklamaları</button>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
