<%- include('../partials/header.ejs') %>

<div style="padding: 12px;" class="container mt-4">
    <div class="create-dergi">
                    <h1>Dergi Oluştur</h1>
                    <form action="/admin/dergiolustur" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="baslik">Başlık:</label>
                            <input type="text" class="form-control admin-panel-input" id="baslik" maxlength="55" name="baslik" required>
                        </div>

                        <div class="form-group">
                            <label for="konu">Konu:</label>
                            <input type="text" class="form-control admin-panel-input" id="konu" name="konu" maxlength="200" required>
                        </div>

                        <div class="form-group">
                            <label for="yazar">Yazar:</label>
                            <input class="form-control admin-panel-input" id="yazar" name="yazar" maxlength="32"></input>
                        </div>

                        <div class="form-group">
                            <label for="aciklama">Açıklama:</label>
                            <textarea class="form-control admin-panel-input" id="aciklama" name="aciklama"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="aciklama">Türü:</label>
                            <input class="form-control admin-panel-input" id="turu" name="turu"></input>
                        </div>

                        <div class="form-group">
                            <label for="kategori">Kategoriler</label>
                            <select name="kategorisi" id="kategorisi" class="form-control admin-panel-input">
                                <% kategoriler.forEach(kategori => {%>
                                    <option value="<%= kategori.kategori_low%>"><%= kategori.kategori_ad%></option>
                                <%});%>
                                
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="resim">Resim Dosyası:</label>
                            <input type="file" class="form-control admin-panel-input" id="resim" name="resim" required>
                        </div>

                        <button type="submit" class="btn addbookbtn btn-primary">Dergiyi Oluştur</button>
                    </form>
                    <a href="/admin/panel"><button class="btn btn-danger">Geri</button></a>
                </div>
            </div>
</div>

<%- include('../partials/footer.ejs') %>