<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src=""></script>
</body>
<!-- Start Footer Section -->
<footer class="footer-section bg-gray-100 text-gray-800 py-10">
    <div class="container mx-auto px-4">
        <div class="flex flex-col lg:flex-row mb-10">
            <div class="lg:w-1/3 mb-8 lg:mb-0">
                <div class="mb-4 footer-logo-wrap text-black font-bold text-2xl">
                    <a href="/" class="footer-logo">Fatoş Perde<span>.</span></a>
                </div>
                <p class="mb-4 text-sm">Fatoş Perde olarak, kaliteli ve uygun fiyatlı perde çözümleri sunuyoruz. Mağazamızda yer alan tüm ürünler özenle imal edilmekte ve satışa sunulmaktadır. Geniş ürün yelpazemiz sayesinde her zevke ve ihtiyaca uygun perde seçenekleri bulabilirsiniz. Müşteri memnuniyeti bizim için ön plandadır.</p>

                <ul class="flex space-x-4">
                    <li><a href="https://www.facebook.com/FatosPerde" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:text-indigo-600"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="https://twitter.com/FatosPerde" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:text-indigo-600"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="https://www.instagram.com/FatosPerde/" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:text-indigo-600"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="https://www.linkedin.com/company/fatosperde/" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:text-indigo-600"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="lg:w-2/3">
                <div class="flex flex-wrap">
                    <div class="w-1/2 sm:w-1/3 mb-6">
                        <ul class="list-unstyled">
                            <li><a href="/hakkimizda" class="hover:text-indigo-600">Hakkımızda</a></li>
                            <li><a href="/" class="hover:text-indigo-600">Servisler</a></li>
                            <li><a href="/" class="hover:text-indigo-600">Çok Satanlar</a></li>
                            <li><a href="/iletisim" class="hover:text-indigo-600">İletişime Geç</a></li>
                        </ul>
                    </div>

                    <div class="w-1/2 sm:w-1/3 mb-6">
                        <ul class="list-unstyled">
                            <li><a href="/kullanici-sozlesmesi" class="hover:text-indigo-600">Kullanıcı Sözleşmesi</a></li>
                            <li><a href="/gizlilik-politikasi" class="hover:text-indigo-600">Gizlilik Politikası</a></li>
                            <li><a href="/teslimat-ve-iade" class="hover:text-indigo-600">Teslimat ve İade</a></li>
                        </ul>
                    </div>
                    <div class="w-1/2 sm:w-1/3 mb-6">
                        <ul class="list-unstyled">
                            <li><a href="/mesafeli-satis-sozlesmesi" class="hover:text-indigo-600">Mesafeli Satış Sözleşmesi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-t border-gray-300 pt-4">
            <div class="flex flex-col lg:flex-row justify-between items-center">
                <div class="text-center lg:text-left mb-4 lg:mb-0">
                    <p class="mb-2 text-sm">Telif Hakkı Fatoş Perde &copy;<script>document.write(new Date().getFullYear());</script>. Tüm hakları saklıdır.</p>
                </div>

                <div class="text-center lg:text-right">
                    <ul class="flex space-x-4">
                        <li><a href="/kullanici-sozlesmesi" class="hover:text-indigo-600">Şartlar &amp; Koşullar</a></li>
                        <li><a href="/gizlilik-politikasi" class="hover:text-indigo-600">Gizlilik Politikası</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- End Footer Section -->
</html>