		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">




				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Fatoş Perde<span>.</span></a></div>
						<p class="mb-4">Fatoş Perde olarak, kaliteli ve uygun fiyatlı perde çözümleri sunuyoruz. Mağazamızda yer alan tüm ürünler özenle imal edilmekte ve satışa sunulmaktadır. Geniş ürün yelpazemiz sayesinde her zevke ve ihtiyaca uygun perde seçenekleri bulabilirsiniz. Müşteri memnuniyeti bizim için ön plandadır.

						</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="/hakkimizda">Hakkımızda</a></li>
									<li><a href="/">Servisler</a></li>
									<li><a href="/">Ç.S.S</a></li>
									<li><a href="/iletisim">İletişime Geç</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Mesafeli Satış Sözleşmesi</a></li>
									<li><a href="/kullanici-sozlesmesi">Kullanıcı Sözleşmesi</a></li>
									<li><a href="#">Gizlilik Sözleşmesi</a></li>
									<li><a href="#">Teslimat ve İade</a></li>
								</ul>
							</div>

						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Telif Hakkı Fatoş Perde &copy;<script>document.write(new Date().getFullYear());</script>. Tüm hakları saklıdır
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Şartlar &amp; Koşullar</a></li>
								<li><a href="#">Gizlilik Politikası</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
			<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		</footer>
		<!-- End Footer Section -->	