
<footer class="c-text">
    <p>&copy; 2024 Yeditepe Kültür ve Sanat Dergisi Tüm hakları saklıdır.</p>
</footer>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-PbHX7of8LQQcdiBye2w2/kVfV1Kl3HHG9h8ncZnlD8zSKeGrSjt+7tj4oN2iC2w7" crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.js"></script>
</html>
