<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon/favicon3.ico" />
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
         
    });
    </script>
    <title>YEDİTEPE KÜLTÜR VE SANAT DERGİSİ</title>
</head>
<body>
    
    <nav id="navbar" class="navbar">
        <a href="/" class="logo">
            <img src="/images/newLogoWhiteColorTransparent.png" class="hide-bg" alt="LOGO" height="95" width="98">
        </a>
        <input type="checkbox" id="toggler">
        <label for="toggler"><i class="fa fa-bars"></i></label>
        <div class="menu">
            <ul class="list">
                <% if (userS && userS.username) { %>
                    <!-- Kullanıcı giriş yapmışsa -->
                    <li class="navbar"><a href="/">Anasayfa</a></li>
                    <li class="navbar"><a href="/hakkimizda">Hakkımızda</a></li>
                    <li class="navbar"><a href="/iletisim">İletişim</a></li>
                    <% if(userS && userS.role==='admin'){ %>
                        <!-- Kullanıcı yöneticiyse -->
                        <li class="item">
                            <a class="navbar" href="/admin/Panel">Kontrol Paneli</a>
                        </li>
                        <% } %>
                        <li class="navbar dropdown">
                        <button class="dropdown-btn ">Merhaba, <%= userS.firstName %><i class='bx bxs-chevron-down arrow' ></i></button>
                            <div class="dropdown-content">
                                <a href="">
                                    <form action="/auth/cikis" method="POST">
                                        <button class="out-button">Çıkış yap</button>
                                    </form>
                                </a>
                              </div>
                        </li>
                    
                <% } else { %>
                    <!-- Kullanıcı giriş yapmamışsa -->
                    <li class="navbar"><a href="/">Anasayfa</a></li>
                    <li class="navbar"><a href="/hakkimizda">Hakkımızda</a></li>
                    <li class="navbar"><a href="/iletisim">İletişim</a></li>
                    <li class="navbar navbar-link">
                        <a class="item" href="/auth/giris">Giriş Yap</a>
                    </li>
                    <li class="navbar navbar-link-reg">
                        <a class="item" href="/auth/kayit">Kayıt Ol</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <% if (typeof message !== 'undefined') {%>
        <div class="notification-panel">
            <div class="notification-panel-content">
                <i class='bx bx-message-alt-error'></i>
                <div style="color: rgb(248, 55, 55);" class="notification-comment"><p><%= message %></p></div>
            </div>
        </div>
      <% } %>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = document.querySelector('.dropdown-content');
            if (dropdownContent.style.display === "unset") {
            dropdownContent.style.display = "none";
            } else {
            dropdownContent.style.display = "unset";
            }
        });
        } 



        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-100px";
        }
        prevScrollpos = currentScrollPos;
        } 
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-PbHX7of8LQQcdiBye2w2/kVfV1Kl3HHG9h8ncZnlD8zSKeGrSjt+7tj4oN2iC2w7" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-LdEtrbybOjcgoVfBExF8R3rOys2tp2sJEL8VPRla2r8QXG5BK8N9gE3CCOu9x1Gq" crossorigin="anonymous"></script>


