e-commerce/app.log
e-commerce/config.env
e-commerce/node_modules/
/node_modules
/config.env
config.env
e-commerce/config.env

# testing
/coverage

# production
/build

# misc
.DS_Store


npm-debug.log*
yarn-debug.log*
yarn-error.log*
e-commerce/node_modules/.bin/color-support.cmd
e-commerce/node_modules/.bin/color-support.ps1
e-commerce/node_modules/.bin/ejs.cmd
e-commerce/node_modules/.bin/ejs.ps1
e-commerce/node_modules/.bin/jake.cmd
e-commerce/node_modules/.bin/jake.ps1
e-commerce/node_modules/.bin/mime.cmd
e-commerce/node_modules/.bin/mime.ps1
e-commerce/node_modules/.bin/mkdirp.cmd
e-commerce/node_modules/.bin/mkdirp.ps1
e-commerce/node_modules/.bin/node-pre-gyp.cmd
e-commerce/node_modules/.bin/node-pre-gyp.ps1
e-commerce/node_modules/.bin/nopt.cmd
e-commerce/node_modules/.bin/nopt.ps1
e-commerce/node_modules/.bin/randomstring.cmd
e-commerce/node_modules/.bin/randomstring.ps1
e-commerce/node_modules/.bin/rimraf.cmd
e-commerce/node_modules/.bin/rimraf.ps1
e-commerce/node_modules/.bin/semver.cmd
e-commerce/node_modules/.bin/semver.ps1
e-commerce/node_modules/.bin/uuid.cmd
e-commerce/node_modules/.bin/uuid.ps1
e-commerce/node_modules/@types/triple-beam/README.md
e-commerce/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
e-commerce/node_modules/color/node_modules/color-name/.npmignore
e-commerce/node_modules/color/node_modules/color-name/index.js
e-commerce/node_modules/color/node_modules/color-name/LICENSE
e-commerce/node_modules/color/node_modules/color-name/README.md
e-commerce/node_modules/color/node_modules/color-name/test.js
