<%- include('./partials/header.ejs') %>
<%- include('./partials/loader.ejs') %>
<style>
.container.s {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
</style>
<div class="container s">
    <div style="margin-top: 64px;" class="row justify-content-between">
        <div class="col-lg-9">
            <section>
                <h2>Hakkımızda</h2>
                <p>Fatoş Perde olarak 1999 yılından beri her türlü perde türü satışı ve her türlü perde imalatı üzerine çalışıyoruz. Yılların verdiği tecrübemizi ve müşteri memnuniyetini ön planda tutarak, kaliteli ürün ve hizmet sunmayı amaçlıyoruz.</p>
                <p>İlk günden bu yana, müşterilerimize en iyi hizmeti sunmak için sürekli kendimizi yeniliyor ve geliştiriyoruz. Her çeşit perde türünde geniş bir ürün yelpazesi sunarak, evlerinize ve iş yerlerinize estetik ve fonksiyonel çözümler getiriyoruz.</p>
                <p>Şimdi ise, bu kadar yıllık tecrübemizi internet ortamına taşıyarak, daha geniş kitlelere ulaşmayı hedefliyoruz. Online mağazamız sayesinde ürünlerimizi inceleyebilir, beğendiğiniz perdeleri kolayca sipariş edebilirsiniz.</p>
                <p>Siz de Fatoş Perde ailesine katılın ve evinizin atmosferini değiştirecek perdelerle tanışın! Müşteri memnuniyetini ön planda tutarak, sizlere en kaliteli ve en güzel perdeleri sunmayı hedefliyoruz.</p>
                <p>Bizi sosyal medyada takip edin: <a href="https://www.instagram.com/fatosperdeonline" target="_blank">Instagram</a></p>
            </section>
        </div>
    </div>

    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">Neden Bizi Seçmelisiniz</h2>
                    <p>Müşteri memnuniyetini en üst düzeyde tutmak için sunduğumuz hizmetlerle, alışveriş deneyiminizi keyifli ve kolay hale getiriyoruz. İşte bizi tercih etmeniz için bazı nedenler:</p>

                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="images/truck.svg" alt="Hızlı &amp; Ücretsiz Teslimat" class="img-fluid">
                                </div>
                                <h3>Hızlı &amp; Ücretsiz Teslimat</h3>
                                <p>Siparişlerinizi en kısa sürede ve ücretsiz olarak kapınıza kadar getiriyoruz. Zamanında teslimat konusunda bize güvenebilirsiniz.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="images/bag.svg" alt="Kolay Alışveriş" class="img-fluid">
                                </div>
                                <h3>Kolay Alışveriş</h3>
                                <p>Kullanıcı dostu web sitemiz ve mobil uygulamamız sayesinde, ihtiyaçlarınıza kolayca ulaşabilir ve rahatça alışveriş yapabilirsiniz.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="images/support.svg" alt="24/7 Destek" class="img-fluid">
                                </div>
                                <h3>24/7 Destek</h3>
                                <p>Herhangi bir sorunuz veya sorununuz olduğunda, 7 gün 24 saat hizmet veren destek ekibimiz size yardımcı olmaktan mutluluk duyar.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="images/return.svg" alt="Hızlı Geri Dönüş" class="img-fluid">
                                </div>
                                <h3>Hızlı Geri Dönüş</h3>
                                <p>Ürünlerimizden memnun kalmadığınızda, hızlı ve sorunsuz iade süreçlerimiz sayesinde rahatça geri gönderebilirsiniz.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="/images/banner-room.jpg" alt="Neden Bizi Seçmelisiniz" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vision-mission-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="section-title">Vizyonumuz</h2>
                    <p>Fatoş Perde olarak, sektörde lider bir marka olmayı ve yenilikçi çözümlerle müşterilerimize ilham vermeyi hedefliyoruz. Her ev ve iş yerine uygun perde çözümleri sunarak, yaşam alanlarını daha estetik ve işlevsel hale getirmeyi amaçlıyoruz.</p>
                </div>
                <div class="col-lg-6">
                    <h2 class="section-title">Misyonumuz</h2>
                    <p>Müşteri memnuniyetini en üst düzeyde tutarak, kaliteli ve uygun fiyatlı perde ürünleri sunmak. Yenilikçi ve estetik çözümlerle müşterilerimizin yaşam alanlarını güzelleştirmek. Uzun yıllara dayanan tecrübemizle, güvenilir ve tercih edilen bir marka olmayı sürdürmek.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>