<%- include('./partials/header.ejs',) %>
<%- include('./partials/loader.ejs') %>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Kullanıcı Sözleşmesi</h1>
                </div>
            </div>
            <div class="custom-container">
                <h1>Kullanıcı Sözleşmesi</h1>
                   <h2>1. Taraflar ve Tanımlar</h2>
                    <p>Bu Kullanıcı Sözleşmesi ("Sözleşme"), fatosperde.com ("Fatoş Perde") tarafından sunulan hizmetlerden yararlanan kullanıcılar ("Kullanıcı") ile Site arasında yapılmıştır. Site, [fatosperde.com] adresinde faaliyet göstermektedir.</p>
                    <h2>2. Kabul</h2>
                    Fatoş Perde'ye üye olarak veya Site'yi kullanarak, bu Sözleşme'yi kabul etmiş sayılırsınız. Bu Sözleşme'yi kabul etmiyorsanız, Site'yi kullanmayınız.
                    
                    <h2>3. Hizmetler</h2>
                    Site, Kullanıcılar'a çeşitli ürünlerin satışı ve teslimatı hizmetini sunar. Site üzerinden yapılan alışverişlerde, Kullanıcı'nın sağladığı bilgiler esas alınır ve bu bilgilerde meydana gelecek herhangi bir hata veya eksiklikten Kullanıcı sorumludur.
                    
                    <h2>4. Kullanıcı Yükümlülükleri</h2>
                    Kullanıcı, Site'yi kullanırken aşağıdaki yükümlülüklere riayet edeceğini kabul eder:
                    
                    Fatoş Perde'ye üye olurken doğru, eksiksiz ve güncel bilgi sağlamak.
                    Site'nin güvenliğini tehlikeye atacak davranışlardan kaçınmak.
                    Diğer kullanıcıların haklarına saygı göstermek ve onlara zarar vermemek.
                <h2>5. Gizlilik</h2>
                    Kullanıcı'nın kişisel verileri, Gizlilik Politikamız kapsamında işlenir. Gizlilik Politikamız'a Site üzerinden ulaşabilirsiniz.
                    
                    <h2>6. Fikri Mülkiyet</h2>
                    Site'de yer alan tüm içerikler, tasarımlar, metinler, grafikler ve yazılımlar fatosperde.com veya lisans verenlerine aittir. Bu içerikler, Kullanıcı tarafından izinsiz olarak kopyalanamaz, dağıtılamaz veya ticari amaçla kullanılamaz.
                    
                    <h2>7. Ürün ve Hizmetler</h2>
                    Site üzerinden satışı yapılan ürünlerin özellikleri ve fiyatları, Site'de belirtilen gibidir. Site, ürün fiyatlarında ve özelliklerinde değişiklik yapma hakkını saklı tutar. Yapılan değişiklikler, Site'de yayınlandığı anda geçerlilik kazanır.
                    
                    <h2>8. İptal ve İade</h2>
                    Kullanıcı, Site üzerinden satın aldığı ürünleri, yasal süreler dahilinde ve belirtilen koşullara uygun olarak iade edebilir. İptal ve iade koşulları, İptal ve İade Politikamız'da detaylandırılmıştır.
                    
                    <h2>9. Sorumluluğun Sınırlandırılması</h2>
                    Site'nin kullanımı sırasında meydana gelebilecek doğrudan veya dolaylı zararlar, kayıplar ve masraflar konusunda Site'nin sorumluluğu bulunmamaktadır. Kullanıcı, Site'yi kullanarak bu sorumluluk sınırlandırmasını kabul eder.
                    
                    <h2>10. Değişiklikler</h2>
                    Site, bu Sözleşme'de her zaman değişiklik yapma hakkını saklı tutar. Yapılan değişiklikler, Site'de yayınlandığı tarihte geçerlilik kazanır. Kullanıcı'nın değişikliklerden haberdar olabilmesi için bu Sözleşme'yi periyodik olarak gözden geçirmesi önerilir.
                    
                    <h2>11. Uyuşmazlıkların Çözümü</h2>
                    Bu Sözleşme'den doğan veya bu Sözleşme ile bağlantılı herhangi bir uyuşmazlık, Türkiye Cumhuriyeti kanunlarına tabidir ve İstanbul mahkemeleri ve icra daireleri yetkilidir.
                    
                    <h2>12. İletişim</h2>
                    Her türlü soru, görüş ve önerileriniz için bize aşağıdaki iletişim bilgilerinden ulaşabilirsiniz:
                    
                    E-posta: perdecim76@gmail.com
                    Bu Sözleşme, 22.06.2024 tarihinde güncellenmiştir.
            </div>
            

        </div>
    </div>
<%- include('./partials/footer.ejs') %>